html,body{
	height: 100%;
}

#graphcontainer{
	position: relative;
	width: 100%;
	height: 100%;
}

#graphcurve{
  position: absolute;
	left: 0;
	top:0;
	width: 65%;
	height: 100%;
}

#graphpie{
	position: absolute;
	right: 0;
	top: 0;
	width: 35%;
	height: 100%;
}

ul.nav.nav-pills{
	margin: 0 auto;
	display: table;
}

/*

#graphunits{
  position: absolute;
	top: 0;
	right: 25%;
	width: 25%;
	height: 100%;
}

#graphamounts{
  position: absolute;
  top: 0;
	right: 0;
	width: 25%;
	height: 100%;
}
*/

/*

div.tab-content, div.tab-pane, div.tab-pane > div, div.highcharts-container{
position: absolute !important;
	width: 100% !important;
	height: 100% !important;
	margin: 0 auto !important;
}
*/