h1,h2,h3{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

h1{
	font-size: 30px !important;
	font-weight: 200 !important;
	padding-top: 10px;
}

h2{
	font-size: 25px !important;
	font-weight: 200 !important;
	padding-left: 20px !important;
	padding-top: 0px !important;
	margin-top: 0 !important;
}

h3{
	font-size: 20px !important;
	font-weight: 200 !important;
	text-align: center;
}

html,
body {
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
    height: 100%;
}

body{
	background-color:#fff !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}

div.navbar-inner > div.container{
	width: 100%;
}

#content_box{
    background-color: rgba(255,255,255,0.7);
    margin-bottom: -30px;
    padding-bottom: 20px;
}

#content{
	position: relative;
	top:10px;
	margin-left: 20px;
	margin-right: 20px;
}

div.navbar{
	margin-bottom: 0;
	z-index: 100;
}

div.navbar-inner{
	height: 40px !important;
	padding-left: 16px !important;
	padding-right: 3px !important;
}

div.sbreadcrumbbar{
	position: fixed;
	bottom: 0px;
	float: left;
	z-index: 100;
	width: 100%;
	background-color: #e5e5e5;
	height: 35px;
	border-top: 1px solid #bbb;
	box-shadow: 0px -5px 15px rgba(0,0,0,0.2);
}

ul.breadcrumb{
	padding-left: 20px !important;
	background-color: #e5e5e5;
}

div.smenu{
	position: fixed;
	right: 20px;
	float: right;
	bottom: 5px;
	z-index: 101;
}

/* required for the floating status bar */
div.spacer{
	height: 50px;
}

div.grid-view{
	padding-top: 0px !important;
}

.clearFilter:before{
    content: "Clear";
}

div.sbox{
	position: fixed;
	padding: 20px;
	top: 50%;
	left: 50%;
  transform: translate(-50%,-50%);
	padding-top: 0px;
	border: 1px dashed #aaa;
	background-color: rgba(255,255,255,0.7);
	text-align: center;
}

div.sbox.register{
	width: 320px;
	height: 310px;
}

div.sbox.activate{
	width: 270px;
	height: 200px;
}

div.sbox.reset{
	width: 270px;
	height: 180px;
}

div.sbox.login{
	width: 300px;
	height: 280px;
}

div.sbox button{
	position: relative;
	margin-top: 5px;
	margin-bottom: 10px;
}

table.items th{
	background-color: rgba(250,250,250,0.5);
	font-weight: normal;
}

fieldset{
	border: 1px dashed #aaa !important;
	background-color: rgba(128,128,128,0.10);
	padding-top: 20px !important;
}

label.checkbox{
	padding-top: 5px;
	font-weight: normal !important;
}

div.badgelist{
	margin-bottom: 15px;
}

div.alert{
	position: fixed !important;
	top: 50px !important;
	left: 50% !important;
  width: 50% !important;
  transform: translate(-50%);
	z-index: 99 !important;
	position: absolute !important;
}

.alert-success{
    border-color: #71ce86 !important;
}

.alert-warning{
    background-color: #f0e0a7 !important;
    border-color: #f0c19d !important;
    color: #ab8354 !important;
}

.alert-error{
    border-color: #d47866 !important;
}

select[multiple] {
	max-height: 63px;
}

tr.deleted > td{
	background-color: #eaa1a1 !important;
}

tr.date{
	background-color: rgba(10,10,10,0.2);
}

tr.date > td.year{
	font-weight: bold;
}

tr.unit{
	background-color: rgba(150,150,150,0.2);
}

tr.amount{
	background-color: rgba(50,50,50,0.15);
}

tr.date > td, tr.unit > td, tr.amount > td{
	border: 1px solid #999;
	text-align: right;
}

div.nextid{
	position: absolute;
	right: 30px;
	float: right;
	margin-top: 5px;
}

div.previousid{
	position: absolute;
	left: 30px;
	float: left;
	margin-top: 5px;
}

a.boxclose{
	float:right;
	padding-right: 5px;
}

.groupbutton, .groupbutton_active{
	float: right;
}

.groupbutton_active{
	color: red;
}

.grid-view table.items th{
	font-weight: 500;
}

.grid-view table.items th a{
	display: inline-block !important;
}

tr.selected > td{
	background-color: #fdd !important;
}

#book_author{
	width: 770px;
}

#book_feature, #book_keyword, #book_topicalterm{
	width: 770px;
}

.select2-container.select2-container-multi{
    width: 770px !important;
}

#titlerow{
    margin-top: 35px;
    display: inline-block;
/*     vertical-align: middle; */
    margin-bottom: 10px;
}


#booklocation{
	margin-bottom: 10px;
}

#booknumber{
	width: 80px;
    padding: 5px;
    border: 1px solid black;
}

#bookstatus{
}

#booknumber, #bookauthors, #booktitle, #bookdetails, #booknotes{
    margin-bottom: 20px;
}

.title_part, .title_remainder, .title_parallel, .title_original{
    color: #666;
}

.title_part{
/*     font-weight: bold; */
}

.title_part:before{
    content: " - ";
}

.title_remainder{
    font-style: italic;
}

#person_notes{
	top: 0;
}

ul.role-masteradmin{
	background-color: rgba(227, 138, 140, 0.3) !important;
}

ul.role-admin{
	background-color: rgba(255, 177, 99, 0.3) !important;
}

ul.role-staff{
	background-color: rgba(134, 189, 219, 0.3) !important;
}

ul.role-client{
	background-color: rgba(140, 184, 140, 0.3) !important;
}

.select2-container{
    width: 370px !important;
}

.clearbutton{
    color: red;
}

.nav-collapse.in.collapse{
    background-color: #fff !important;
    z-index: 1;
}

li > ul{
    margin-left: 20px;
    list-style-type: circle;
}